*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

body{
    background: skyblue;
}

.container{
    background: white;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 25px 30px;
    transform: translate(-50%, -50%);
    border-radius: 10px;

}

.container p{
    font-weight:bold;
    font-size: 15px;
    margin-bottom: 10px;
}

.container input{
    width: 100%;
    height: 40px;
    border: 1px solid skyblue;
    outline: 0;
    padding: 10px;
    margin: 10px 0px 20px;
    border-radius: 10px;
}

.container button{
    cursor: pointer;
    width: 100%;
    height: 20px;
    background-color: rgba(66, 189, 242, 0.526);
    color: black;
    border: 0;
    outline: 0;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgb(76, 210, 236);
    margin: 20px 0;
    font-weight: 600;
}

.imgBox{
    width: 200px;
    border-radius: 25px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.5s;
}

.imgBox img{
    width: 100%;
    padding: 20px;
}

.imgBox.show-img{
    max-height: 200px;
    margin: 10px auto;
    border: 1px solid black;
}

.error{
    animation: shake 0.1s linear 10;
}
@keyframes shake{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-2px);
    }
    50%{
        transform: translateX(0);
    }
    75%{
        transform: translateX(2px);
    }
    100%{
        transform: translateX(0);
    }
}